body{
    background-color: rgb(158, 96, 194);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 50px;
}
.top{
display: flex;
align-items: center;
gap: 50px;
}
.arrow{
    height: 150px;
    cursor: pointer;
}
.left{
    transform: rotate(180deg);
}
.frame{
    width: 700px;
    height: 500px;
    overflow: hidden;
}
.slider{
    display:flex;
    transition: all 1.9s ease;
}
.images{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.bottom{
    display: flex;
    gap: 35px;
}
.button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}
